* {
    margin: 0%;
    padding: 0%;
}

.id {
    width: 100%;
    height: 100vh;
    background-image: url(./img/m1.webp);
    background-attachment: fixed;
}

.id .id1 {
    width: 100%;
    height: 100vh;
    color: blue;
    overflow: hidden;
}

.id .id1 img {
    width: 100%;
    font-size: 100% 100%;
    position: absolute;
}

.id .id1 P {
    top: 300px;
    left: 550px;
    color: white;
    position: relative;
    font-size: 20px;
}

@media(max-width:320px) {
    .id .id1 P {
        left: 100px;
    }
}

.id .id1 h1 {
    top: 300px;
    left: 550px;
    color: white;
    position: relative;
    font-size: 35px;
}

@media(max-width:320px) {
    .id .id1 h1 {
        top: 305px;
        left: 80px;
    }
}

.id .id1 h3 {
    top: 300px;
    left: 30px;
    color: white;
    position: relative;
    font-size: 35px;
}

@media(max-width:320px) {
    .id .id1 h3 {
        top: 330px;
        left: 35px;
        font-size: 10px;
    }
}


/*---------------------------------------------------------------*/

.id .id1 button {
    top: 310px;
    left: 550px;
    background-color: orangered;
    color: white;
    position: relative;
    width: 200px;
    font-size: 27px;
    border-radius: 25px;
}

.contener {
    width: 100%;
    height: 100vh;
    background-color: wheat;
    display: flex;
    position: relative;
}

.contener ul {
    margin-left: 150px;
    padding-top: 100px;
    list-style: none;
}

.in1 {
    width: 250px;
    height: 40px;
    /* position: absolute;*/
    margin-top: 120px;
    margin-left: 35px;
    background-color: transparent;
    border-radius: 5px;
}

@media(max-width:320px) {
    .in1 {
        width: 200px;
        margin-left: 39px
    }
}

.in2 {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    /* position: absolute;*/
    margin-top: 120px;
    margin-left: 35px;
    background-color: transparent;
}

@media(max-width:320px) {
    .in1 {
        width: 120px;
        margin-left: -10px;
        border-radius: 5px;
    }
    .in2 {
        margin-top: 186px;
        margin-left: 45px;
        width: 130px;
    }
}

.in3 {
    width: 550px;
    height: 40px;
    /*position: absolute;*/
    margin-top: 50px;
    background-color: transparent;
    margin-left: 35px;
}

@media(max-width:320px) {
    .in3 {
        width: 200px;
    }
}

@media(min-width:375px) {
    .in3 {
        width: 250px;
    }
}

.in4 {
    width: 550px;
    height: 200px;
    /*    position: absolute;*/
    margin-top: 50px;
    margin-left: 40px;
    background-color: transparent;
}

@media(max-width:320px) {
    .in4 {
        width: 200px;
    }
}

@media(min-width:375px) {
    .in4 {
        width: 250px;
    }
}

.btn {
    position: absolute;
    top: 520px;
    border-radius: 25px;
    left: 50px;
    background-color: orangered;
    color: white;
}

@media(max-width:325px) {
    .btn {
        margin-top: 70px;
    }
}

@media(min-width:375px) {
    .btn {
        margin-top: 200px;
    }
}

ul {
    list-style: none;
}

.ps {
    margin-top: 60px;
    padding-bottom: 30px;
}